@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

body {
  font-family: "Cormorant", serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.header__logo-text {
  font-family: "Petit Formal Script", serif;
  font-size: 7.4rem;
  position: absolute;
  top: 3rem;
  left: 10rem; }
  .header__logo-text-2 {
    font-size: 11rem; }

.heading-primary {
  color: #222;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 9.6rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
    animation: moveInRight 2s ease; }
  .heading-primary--sub {
    display: block;
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    animation: moveInLeft 2s ease; }
  .heading-primary--slogan {
    display: block;
    text-transform: lowercase;
    font-family: "Petit Formal Script", serif;
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: 1rem; }

.heading-secondary {
  font-size: 4.4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
  backface-visibility: hidden;
  transition: all 0.4s; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: scale(1.1); }

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 2.4rem;
  font-weight: 600;
  text-shadow: 0 0.1rem 10rem rgba(0, 0, 0, 0.9); }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
  align-items: center;
  gap: 10rem; }

.col-1-of-2 {
  width: 100%;
  height: 50rem; }

.composition__img {
  width: 100%;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.8s; }
  .composition__img:hover {
    transform: scale(1.1);
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.4); }

.header {
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative;
  z-index: 10; }
  .header__img-holder {
    height: 100vh;
    background-image: linear-gradient(to right top, rgba(248, 248, 248, 0.7), rgba(238, 238, 238, 0.7)), url("../../css/img/header-photo.jpg");
    background-size: cover;
    background-position: top;
    transition: all 1s; }
  .header .scale {
    transform: scale(1.05); }
  .header__text-box {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-me {
  background-image: linear-gradient(to right top, rgba(248, 248, 248, 0.8), rgba(238, 238, 238, 0.8)), url("../../css/img/me-photo.jpg");
  background-size: cover;
  margin-top: -15rem;
  padding: 20rem 0;
  transform: skewY(-3deg);
  position: relative;
  z-index: 9; }
  .section-me > * {
    transform: skewY(3deg); }

.section-work {
  background-image: linear-gradient(to right top, rgba(248, 248, 248, 0.9), rgba(238, 238, 238, 0.9)), url("../../css/img/work-photo.jpg");
  background-size: cover;
  margin-top: -15rem;
  padding: 30rem 0 20rem;
  transform: skewY(-3deg);
  position: relative;
  z-index: 8; }
  .section-work > * {
    transform: skewY(3deg); }
