*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Cormorant", serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.header__logo-text {
  font-family: "Petit Formal Script", serif;
  font-size: 7.4rem;
  position: absolute;
  top: 3rem;
  left: 10rem; }
  .header__logo-text-2 {
    font-size: 11rem; }

.heading-primary {
  color: #333;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 9.6rem;
    font-weight: 700;
    letter-spacing: 0.8rem; }
  .heading-primary--sub {
    display: block;
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: 0.4rem; }
  .heading-primary--slogan {
    display: block;
    text-transform: lowercase;
    font-family: "Petit Formal Script", serif;
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: 1rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right top, rgba(116, 228, 195, 0.8), rgba(39, 152, 118, 0.8)), url("../../css/img/header-photo.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative; }
  .header__text-box {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
