@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

body {
  font-family: "Cormorant", serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem; }

.header__logo-text {
  font-family: "Petit Formal Script", serif;
  font-size: 7.4rem;
  position: absolute;
  top: 3%;
  left: 5%; }
  .header__logo-text-2 {
    font-size: 11rem; }

.heading-primary {
  color: #222;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 9.6rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
    animation: moveInRight 2s ease; }
  .heading-primary--sub {
    display: block;
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    animation: moveInLeft 2s ease; }
  .heading-primary--slogan {
    display: block;
    text-transform: lowercase;
    font-family: "Petit Formal Script", serif;
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: 1rem; }

.heading-secondary {
  font-size: 4.4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
  backface-visibility: hidden;
  transition: all 0.4s; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: scale(1.1); }

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 2.4rem;
  font-weight: 600;
  text-shadow: 0 0.1rem 10rem rgba(0, 0, 0, 0.9); }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  gap: 10rem; }

.col-1-of-2 {
  width: 100%;
  height: 50rem; }

.footer {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(34, 34, 34, 0.8)), url("../../css/img/footer-photo-large.jpg");
  background-size: cover;
  background-position: 0 35%;
  padding: 10rem 0 5rem 0;
  text-align: center;
  z-index: 6; }
  .footer__logo-text {
    font-family: "Petit Formal Script", serif;
    color: #222;
    font-size: 8.6rem;
    transform: scale(1.3); }
    .footer__logo-text-2 {
      font-size: 11rem; }
  .footer__nav {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600; }
  .footer__nav-list {
    display: flex;
    gap: 16rem;
    list-style: none; }
  .footer__nav-link {
    text-decoration: none;
    color: #222; }
    .footer__nav-link:link, .footer__nav-link:visited {
      display: inline-block;
      letter-spacing: 0.2rem;
      text-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
      transition: all 0.4s; }
    .footer__nav-link:hover {
      transform: scale(1.05);
      text-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.5); }
  .footer__copyright {
    display: inline-block;
    font-size: 3rem;
    border-top: 3px solid rgba(34, 34, 34, 0.8);
    color: rgba(0, 0, 0, 0.99);
    padding-top: 1rem;
    width: 100%;
    text-align: center; }

.composition__img {
  width: 100%;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.8s; }
  .composition__img:hover {
    transform: scale(1.1);
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.4); }

.header {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  overflow: hidden;
  z-index: 10; }
  .header__img-holder {
    background-image: linear-gradient(to right top, rgba(248, 248, 248, 0.7), rgba(238, 238, 238, 0.7)), url("../css/img/header-photo-large.jpg");
    background-size: cover;
    height: 100vh;
    transition: all 1s; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }

.scale {
  transform: scale(1.05); }

.section-me {
  background-image: linear-gradient(to right top, rgba(248, 248, 248, 0.8), rgba(238, 238, 238, 0.8)), url("../../css/img/section-me-large.jpg");
  background-size: cover;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.9);
  margin-top: -15rem;
  padding: 20rem 0;
  transform: skewY(-3deg);
  z-index: 9; }
  .section-me > * {
    transform: skewY(3deg); }

.section-work {
  background-image: linear-gradient(to right top, rgba(248, 248, 248, 0.8), rgba(238, 238, 238, 0.8)), url("../../css/img/section-work-large.jpg");
  background-size: cover;
  position: relative;
  margin-top: -15rem;
  padding: 30rem 0 15rem;
  transform: skewY(-3deg);
  z-index: 8; }
  .section-work > * {
    transform: skewY(3deg); }

.section-sailing {
  background-image: linear-gradient(to right top, rgba(248, 248, 248, 0.8), rgba(238, 238, 238, 0.8)), url("../../css/img/section-sailing-large.jpg");
  background-size: cover;
  position: relative;
  background-position: 0 50%;
  margin-top: -15rem;
  padding: 30rem 0 30rem;
  transform-origin: left top;
  z-index: 7; }
