// COLORS
$color-primary: #4d93ca;
$color-primary-light: #a6c9e5;
$color-primary-dark: #36678d;

$color-grey-light-1: #f8f8f8;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #222;

$color-white: #fff;
$color-black: #000;

// Grid

$grid-width: 120rem;

// Defalult font size
$default-font-size: 16px;
