.header {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  overflow: hidden;
  z-index: 10;

  &__img-holder {
    @include sectionBgImage("../css/img/header-photo-small.jpg", 0.7);
    height: 100vh;
    transition: all 1s;
    @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (min-width: 125em) {
      @include sectionBgImage("../css/img/header-photo-large.jpg", 0.7);
    }
  }

  &__text-box {
    @include centerAbsolute();
    text-align: center;
    width: 100%;
  }
}

.scale {
  transform: scale(1.05);
}

.cookie-message {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 12;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  color: #222;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.5),
    rgba($color-primary-dark, 0.5)
  );
  padding: 0 3rem;
  animation: moveInRight2 3s ease;
  @include responsive(sm) {
    flex-direction: column;
    padding-top: 2rem;
    text-align: center;
    line-height: 1;
    top: 65vh;
    left: 0;
  }
}

// .visible {
//   opacity: 1 !important;
//   visibility: visible !important;
// }
