.section-me {
  @include sectionBgImage("../css/img/section-me-small.jpg", 0.8);
  position: relative;
  border-top: 1px solid rgba($color-black, 0.9);
  margin-top: -20rem;
  padding: 20rem 0;

  transform: skewY(-3deg);
  z-index: 9;

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    @include sectionBgImage("../css/img/section-me-large.jpg", 0.7);
  }
  @include responsive(sm) {
    text-align: center;
    padding: 22rem 0 10rem 0;
  }
  @include responsive(xs) {
    text-align: center;
    padding: 22rem 0 5rem 0;
  }

  & > .row {
    @include responsive(sm) {
      // display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0;
    }
  }
  & > .row > .col-1-of-2 {
    @include responsive(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5rem;
    }
  }

  & > * {
    transform: skewY(3deg);
  }

  &__heading {
    //margin-left: calc(-100% / 6);

    position: absolute;
    top: 9rem;
    left: 0;
    z-index: 12;
    @include responsive(sm) {
      position: relative;
      top: 2rem;
    }
  }
  &__paragraph {
    margin-bottom: 4rem;
    @include responsive(sm) {
      text-align: left;
      padding: 0 3rem;
    }
  }
}

.section-work {
  @include sectionBgImage("../css/img/section-work-small.jpg", 0.8);
  position: relative;
  margin-top: -15rem;
  padding: 35rem 0 15rem;
  transform: skewY(-3deg);
  z-index: 8;
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    @include sectionBgImage("../css/img/section-work-large.jpg", 0.7);
  }

  @include responsive(sm) {
    text-align: center;
    padding: 22rem 0 10rem 0;
  }
  @include responsive(xs) {
    text-align: center;
    padding: 22rem 0 5rem 0;
  }

  & > .row {
    @include responsive(sm) {
      // display: flex;
      flex-direction: column-reverse;

      align-items: center;
      justify-content: center;
    }
  }
  & > .row > .col-1-of-2 {
    @include responsive(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5rem;
    }
  }
  & > * {
    transform: skewY(3deg);
  }
  &__heading {
    text-align: right;
    position: absolute;
    top: 4rem;
    right: -10rem;
    z-index: 12;
    @include responsive(md) {
      right: 0;
    }
    @include responsive(sm) {
      line-height: 1.1;
      text-align: center;
      position: relative;
      top: 2rem;
    }
  }
  &__paragraph {
    margin-bottom: 4rem;
    @include responsive(sm) {
      text-align: left;
      padding: 0 3rem;
    }
  }
}
.section-sailing {
  @include sectionBgImage("../css/img/section-sailing-small.jpg", 0.8);
  position: relative;
  background-position: 0 50%;
  margin-top: -15rem;
  padding: 30rem 0 30rem;
  transform-origin: left top;
  z-index: 7;

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    @include sectionBgImage("../css/img/section-sailing-large.jpg", 0.7);
  }
  @include responsive(md) {
    padding-bottom: 15rem;
  }
  @include responsive(sm) {
    text-align: center;
    padding: 24rem 0 10rem 0;
  }
  @include responsive(xs) {
    text-align: center;
    padding: 22rem 0 5rem 0;
  }
  &__heading {
    margin-left: calc(#{$grid-width} / 4);
    position: absolute;
    top: 18rem;
    left: 0;
    z-index: 12;
  }
  & > .row {
    @include responsive(md) {
      flex-direction: column;
    }
  }
  &__paragraph {
    text-align: left;
    @include responsive(sm) {
      text-align: left;
      padding: 0 3rem;
    }
  }
}
