.section-me {
  // background-color: $color-grey-light-1;
  background-image: linear-gradient(
      to right top,
      rgba($color-grey-light-1, 0.8),
      rgba($color-grey-light-2, 0.8)
    ),
    url("../../css/img/me-photo.jpg");
  background-size: cover;
  margin-top: -15rem;
  padding: 20rem 0;
  transform: skewY(-3deg);
  position: relative;
  z-index: 9;

  & > * {
    transform: skewY(3deg);
  }
}

.section-work {
  background-image: linear-gradient(
      to right top,
      rgba($color-grey-light-1, 0.9),
      rgba($color-grey-light-2, 0.9)
    ),
    url("../../css/img/work-photo.jpg");
  background-size: cover;
  margin-top: -15rem;
  padding: 30rem 0 20rem;
  transform: skewY(-3deg);
  position: relative;
  z-index: 8;
  & > * {
    transform: skewY(3deg);
  }
}
