.header__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__paragraph {
  width: 50%;
  transition: all 1.5s;
  animation: showText 4s ease;
}
.section-for-you {
  @include sectionBgImage("../css/img/section-sailing-small.jpg", 0.8);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: 0 50%;
  margin-top: -15rem;
  padding: 30rem 0 30rem;
  transform-origin: left top;
  transform: skewY(-3deg);
  z-index: 7;

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    @include sectionBgImage("../css/img/section-sailing-large.jpg", 0.7);
  }
  @include responsive(md) {
    padding-bottom: 15rem;
  }
  @include responsive(sm) {
    text-align: center;
    padding: 24rem 0 10rem 0;
  }
  @include responsive(xs) {
    text-align: center;
    padding: 22rem 0 5rem 0;
  }
  & > * {
    transform: skewY(3deg);
  }

  &__row {
    display: flex;
    justify-content: center;
    width: 100%;

    @include responsive(md) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem;
    }
  }
  &__column {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;

    margin: 0 auto;
    @include responsive(md) {
      width: 100%;
    }
  }
  &__paragraph {
    text-align: left;
    width: 100%;
    padding: 0 3rem 0 8rem;
    // margin: 0 auto;
    @include responsive(md) {
      text-align: left;
      padding: 0 3rem;
    }
  }
}
.section-support {
  @include sectionBgImage("../css/img/section-sailing-small.jpg", 0.8);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: 0 50%;
  margin-top: -15rem;
  padding: 15rem 0 10rem;
  transform-origin: left top;
  transform: skewY(-3deg);

  z-index: 7;

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    @include sectionBgImage("../css/img/section-sailing-large.jpg", 0.7);
  }
  @include responsive(md) {
    padding-bottom: 15rem;
  }
  @include responsive(sm) {
    text-align: center;
    padding: 24rem 0 10rem 0;
  }
  @include responsive(xs) {
    text-align: center;
    padding: 22rem 0 5rem 0;
  }
  & > * {
    transform: skewY(3deg);
  }
  &__item-paragraph {
    line-height: 1;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  &__item-paragraph-2 {
    line-height: 1;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  &__number--1,
  &__number--2,
  &__number--3,
  &__number--4,
  &__number--5,
  &__number--6,
  &__number--7,
  &__number--8,
  &__number--9,
  &__number--10 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
  }
  &__item-number {
    font-size: 5.2rem;
    font-weight: 600;
    color: #ddd;
    &::before,
    &::after {
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 1rem;
    }
    &::before {
      width: 6rem;
      height: 6rem;

      background-color: lighten($color-primary-dark, 30%);
      z-index: -1;
    }
    &::after {
      width: 8rem;
      height: 8rem;
      // border: 1px solid $color-primary-dark;
      background-color: lighten($color-primary-dark, 30%);
      z-index: -2;
    }
  }
  &__number--1 {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  &__text--1 {
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: start;
    width: 50%;
  }
  &__number--2 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  &__text--2 {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: end;
    width: 50%;
  }
  &__number--3 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  &__text--3 {
    grid-row: 3/4;
    grid-column: 3/4;
    justify-self: start;
    width: 50%;
  }
  &__number--4 {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  &__text--4 {
    grid-row: 4/5;
    grid-column: 1/2;
    justify-self: end;
    width: 50%;
  }
  &__number--5 {
    grid-row: 5/6;
    grid-column: 2/3;
  }
  &__text--5 {
    grid-row: 5/6;
    grid-column: 3/4;
    justify-self: start;
    width: 50%;
  }
  &__number--6 {
    grid-row: 6/7;
    grid-column: 2/3;
  }
  &__text--6 {
    grid-row: 6/7;
    grid-column: 1/2;
    justify-self: end;
    width: 50%;
  }
  &__number--7 {
    grid-row: 7/8;
    grid-column: 2/3;
  }
  &__text--7 {
    grid-row: 7/8;
    grid-column: 3/4;
    justify-self: start;
    width: 50%;
  }

  &__number--8 {
    grid-row: 8/9;
    grid-column: 2/3;
  }
  &__text--8 {
    grid-row: 8/9;
    grid-column: 1/2;
    justify-self: end;
    width: 50%;
  }
  &__number--9 {
    grid-row: 9/10;
    grid-column: 2/3;
  }
  &__text--9 {
    grid-row: 9/10;
    grid-column: 3/4;
    justify-self: start;
    width: 50%;
  }
  &__number--10 {
    grid-row: 10/11;
    grid-column: 2/3;
  }
  &__text--10 {
    grid-row: 10/10;
    grid-column: 1/2;
    justify-self: end;
    width: 50%;
  }
}
